{% for trick in tricks %}
    <div class="trick-card-container m-4">
        <div class="card trick-card" style="width: 18rem;">
            <a href="{{ path('app_trick_display', {'slug': trick.slug}) }}">
                {% if trick.pictures is empty %}
                    <img src="{{ asset('images/uploads/tricks/default.png') }}" class="card-img-top"
                         alt="Image d'un snowboard">
                {% else %}
                    {% for picture in trick.pictures %}
                        {% if picture.firstPicture %}
                        <img src="/images/uploads/tricks/{{ picture.fileName }}" class="card-img-top"
                             alt="{{ picture.alt }}">
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </a>
            <div class="card-body">
                <div class="d-flex flex-column">
                    <h5 class="card-title">{{ trick.name }}</h5>
                    {% if app.user %}
                        <div class="d-flex justify-content-end">
                            <a class="btn btn-primary me-2"
                               href="{{ path('app_trick_modification', {'slug' : trick.slug}) }}">
                                <i class="bi bi-pen"></i>
                            </a>
                            <a class="btn btn-danger"
                               onclick="return confirm('Vous êtes sur le point de supprimer deffinitivement le trick {{ trick.name }}. Voulez-vous vraiment continuer ?')"
                               href="{{ path('app_trick_delete', {'slug':trick.slug}) }}">
                                <i class="bi bi-trash"></i>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endfor %}