{% for trick in tricks %}
    <div class="trick-card-container m-4">
        <div class="card trick-card" style="width: 18rem;">
            <a href="{{ path('app_trick_display', {'slug': trick.slug}) }}">
                {% if trick.pictures is empty %}
                    <img src="{{ asset('images/uploads/tricks/Default.png') }}" class="card-img-top"
                         alt="Image d'un snowboard">
                {% else %}
                    <img src="/images/uploads/tricks/{{ trick.pictures|first.fileName }}" class="card-img-top"
                         alt="{{ trick.pictures|first.alt }}">
                {% endif %}
            </a>
            <div class="card-body">
                <div class="d-flex flex-column">
                    <h5 class="card-title">{{ trick.name }}</h5>
                    {% if app.user %}
                        <div class="d-flex justify-content-end">
                            <i class="bi bi-pen mx-3"></i>
                            <i class="bi bi-trash mx-3"></i>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endfor %}