{% extends 'base.html.twig' %}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/trick-modification.css') }}">
    {% endblock %}
    {% block javascripts %}
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script src="{{ asset('javascript/alert.js') }}"></script>
        <script src="{{ asset('javascript/add-media-fields.js') }}"></script>
        <script src="{{ asset('javascript/show-picture.js') }}"></script>
        <script src="{{ asset('javascript/show-video.js') }}"></script>
        <script src="{{ asset('javascript/button-carousel.js') }}"></script>
        <script src="{{ asset('javascript/trick-modification.js') }}"></script>
    {% endblock %}

{% block body %}

    <div id="trick-modification">

        <div class="presentation-one-trick-container mx-auto my-5 container">
            <h2 class="w-100 text-center">{{ trick.name|capitalize }}</h2>
            {{ form_start(form) }}
            <div class="presentation-one-trick position-relative">
                {% if trick.pictures.count < 1 %}
                    <img src="{{ asset('images/uploads/tricks/default.png') }}"
                         class="card-img-top position-absolute image-presentation rounded"
                         alt="Image d'un snowboard">
                {% else %}
                    {% for picture in trick.pictures %}
                        {% if picture.firstPicture %}
                            <img src="/images/uploads/tricks/{{ picture.fileName }}"
                                 class="card-img-top position-absolute image-presentation rounded"
                                 alt="{{ picture.alt }}">
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>

            <div class="d-flex justify-content-center my-5" id="show-carousel-trick">
                <button id="buttonShowCarousel" class="btn btn-success" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseCarousel" aria-expanded="false" aria-controls="collapseCarousel">
                    Sow pictures
                </button>
            </div>
            <div class="collapse" id="collapseCarousel">
                <div class="d-flex overflow-x-scroll carousel-trick my-5" id="carousel-trick">
                    {% for pictureType in form.pictures %}
                        <div class="trick-card-container m-4">
                            <div class="card trick-card" style="width: 18rem;">
                                <img id="pic-to-change_{{ loop.index }}"
                                     src="/images/uploads/tricks/{{ pictureType.vars.value.fileName }}"
                                     class="card-img-top pic-to-change"
                                     alt="{{ pictureType.vars.value.alt }}">
                                <div class="card-body">
                                    <div class="d-flex justify-content-end">
                                        {% if not pictureType.vars.value.firstPicture %}
                                            <a href="{{ path('app_trick_picture_first', {'slug': trick.slug, 'id': pictureType.vars.value.id }) }}"
                                               class="btn btn-warning me-2">Foreground</a>
                                        {% endif %}
                                        <a class="btn btn-primary me-2" data-bs-toggle="collapse"
                                           data-bs-target="#collapsePicture{{ loop.index }}" aria-expanded="false"><i
                                                    class="bi bi-pen"></i></a>
                                        <a class="btn btn-danger"
                                           href="{{ path('app_trick_delete_picture', {'slug': trick.slug, 'id': pictureType.vars.value.id }) }}"><i
                                                    class="bi bi-trash"></i></a>
                                    </div>
                                    <div id="collapsePicture{{ loop.index }}" class="collapse">
                                        <div class="mt-2">
                                            {{ form_label(pictureType.file) }}
                                            {{ form_widget(pictureType.file) }}
                                        </div>
                                        <div class="mt-2">
                                            {{ form_label(pictureType.alt) }}
                                            {{ form_widget(pictureType.alt) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    {% for videoType in form.videos %}
                        <div class="trick-card-container m-4">
                            <div class="card trick-card" style="width: 18rem;">
                                <iframe src="{{ videoType.vars.value.urlEmbed }}"
                                        class="card-img-top video-to-change"
                                        id="video-to-change_{{ loop.index }}"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        allowfullscreen></iframe>
                                <div class="card-body">
                                    <div class="d-flex justify-content-end">
                                        <a class="btn btn-primary me-2" data-bs-toggle="collapse"
                                           data-bs-target="#collapseVideo{{ loop.index }}" aria-expanded="false"><i
                                                    class="bi bi-pen"></i></a>
                                        <a class="btn btn-danger"
                                           href="{{ path('app_trick_delete_video', {'slug': trick.slug, 'id': videoType.vars.value.id }) }}"><i
                                                    class="bi bi-trash"></i></a>
                                    </div>
                                    <div id="collapseVideo{{ loop.index }}" class="collapse">
                                        <div class="mt-2">
                                            {{ form_label(videoType.url) }}
                                            {{ form_widget(videoType.url) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="d-flex justify-content-around my-5 flex-wrap">
                <p class="bg-secondary rounded p-2 text-white">Created at : {{ trick.createdAt.format('d/m/Y') }}</p>
                {% if trick.updatedAt is not null %}
                    <p class="bg-secondary rounded p-2 text-white">Updated at
                        : {{ trick.updatedAt.format('d/m/Y') }}</p>
                {% endif %}
                <p class="bg-secondary rounded p-2 text-white">Category : {{ trick.category.label }}</p>
            </div>

            <div class="form-modification">
                <div id="pictures" data-prototype="{{ form_row(form.pictures.vars.prototype)|e('html_attr') }}"></div>
                <button type="button" id="add-picture" class="btn btn-success">Add picture</button>
                <hr>
                <div id="videos" data-prototype="{{ form_row(form.videos.vars.prototype)|e('html_attr') }}"></div>
                <button type="button" id="add-video" class="btn btn-success">Add video</button>
                <div class="my-5">{{ form_row(form.name) }}</div>
                <div class="my-5">{{ form_row(form.description) }}</div>
                <div class="my-5">{{ form_row(form.category) }}</div>
                <div class="d-flex align-items-center justify-content-end">
                    <div class="mb-3 mt-5 me-5">
                        <a class="btn btn-danger"
{#                           onclick="return confirm('Vous êtes sur le point de supprimer deffinitivement le trick {{ trick.name }}. Voulez-vous vraiment continuer ?')"#}
                           onclick="return confirmationForDelete(event)"
                           href="{{ path('app_trick_delete', {'slug':trick.slug}) }}">
                            Delete Trick
                        </a>
                    </div>
                    {{ form_end(form) }}
                </div>


            </div>
        </div>

    </div>
{% endblock %}
