{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block body %}
    <h1 class="text-center my-5">trick creation</h1>
    <div class="mx-auto" style="width: 30%">
        {{ form(form) }}
{#        {{ form_start(form) }}#}

{#        {{ form_row(form.name) }}#}
{#        {{ form_row(form.pictures) }}#}
{#        {{ form_row(form.videos) }}#}
{#        {{ form_row(form.category) }}#}

{#        {{ form_end(form) }}#}
    </div>
{% endblock %}
