{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('styles/trick-creation.css') }}">
     <link rel="stylesheet" href="{{ asset('styles/form-responsive.css') }}">
 {% endblock %}
    {% block javascripts %}
        <script src="{{ asset('javascript/add-media-fields.js') }}"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                let buttonAddPicture = document.querySelector('#add-picture');
                let buttonAddVideo = document.querySelector('#add-video');

                buttonAddPicture.addEventListener("click", function () {
                    buttonAddPicture.disabled = true;
                    let divPicture = document.querySelector('#pictures');
                    let index = divPicture.querySelectorAll("fieldset").length;
                    addFieldPicture();
                    createFrame('#trick_pictures_', index, "img", "rounded img-");
                    createButtonSupp('#trick_pictures_', index, "Supp picture", "#add-picture");
                });

                buttonAddVideo.addEventListener("click", function () {
                    buttonAddVideo.disabled = true;
                    let divVideo = document.querySelector('#videos');
                    let index = divVideo.querySelectorAll("fieldset").length;
                    addFieldVideo();
                    createFrame('#trick_videos_', index, "iframe", "rounded iframe-");
                    createButtonSupp('#trick_videos_', index, "Supp video", "#add-video");
                });

            });
        </script>
    {% endblock %}
{% block body %}
    <div class="min-height-100-vh d-flex align-items-center">
        <div class="w-100">
            <h1 class="text-center my-5">trick creation</h1>
            <div class="mx-auto trick-form-responsive">
                {{ form_start(form) }}
                {{ form_row(form.name) }}
                {{ form_row(form.category) }}
                {{ form_row(form.description) }}
                <div id="pictures" data-prototype="{{ form_row(form.pictures.vars.prototype)|e('html_attr') }}"></div>
                <button type="button" id="add-picture" class="btn btn-success">Add picture</button>
                <hr>
                <div id="videos" data-prototype="{{ form_row(form.videos.vars.prototype)|e('html_attr') }}"></div>
                <button type="button" id="add-video" class="btn btn-success">Add video</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}